*{
    padding: 0;
    margin: 0;
    font-family: 'raleway',sans-serif;
}
h2{
    text-transform: uppercase;
    font-weight: 700;
}
h6{
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 700;
    color: #6a6a6a; 
}
img{
    width: 100%;
}
.f-color{
    color: #00a99d;
}
.t-color{
    color: #999999;
}
.b-color{
    background-color: #333333;
    color: white;
}
.b-color:hover{
    background-color: #00a99d;
    color: white;
}
/*-----header section----*/
header{
    padding: 10% 0;
    background: #8a8a8a;
    text-transform: uppercase;
    text-align: center;
}
.container{
    padding: 15px 5%;
}
.header-text{
    width: 44%;
}
header h5{
    color: #535353;
    font-size: 13px;
    font-family: 'raleway', sans-serif;
    text-align: center;
    margin-bottom: 0px;
}
header h1{
    font-weight: 700;
    font-size: 45px;
    font-family: 'raleway', sans-serif;
}
header span{
    text-transform: lowercase;
}
header strong{
    text-transform: uppercase;
}
header p{
    text-align: center;
    background-color: #333333;
    font-size: 12px;
    color: white;
    border-radius: 3px;
    padding-bottom: 2px;
}
.header-text h4{
    font-weight: 700;
    padding: 15px 0px;
}
.header-text a{
    font-size: 25px;
    border-radius: 50%;
    border: 2px solid #00a99d;
    font-weight: 700;
    padding: 3px 8px;
}
.header-text a:hover{
    color: white;
    border: 2px solid white;
}
/*-----menu-bar----*/
.navbar{
    border-bottom: 1px solid #dedede;
}
.navbar-brand button{
    color: black;
}
.menu{
    width: 80%;
}
.menu ul{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin-top: 0px;
}
.menu ul li a{
    padding: 15px 10px;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
}
.menu ul li a:hover{
    background: #00a99d;
    color: white;
    border-radius: 5px;
}
.menu ul li .active{
    color: #00a99d;
}
.menu ul li .active:hover{
    background: none;
    color: black;
}
/*--what-we text--*/
.bottom a{
    border-radius: 50%;
    padding: 18px 21px;
    margin: 10px 0px;
    display: inline-block;
}
.bottom button{
    padding: 8px 10px;
    border: 2px solid #e7e7e7;
    border-radius: 5px;
    background-color: transparent;
    color: black;
    margin: 10px 0px;
}
.bottom button:hover{
    border: 2px solid #00a99d;
}
/*--Amaging feathers--*/
.amazing-feathers{
    position: relative;
}
.amazing-feathers .overley{
    background-color: #00a99d;
    position: absolute;
    top: -2%;
    left: 50%;
    transform: translate(-50%,0);
    height: 25px;
    width: 25px;
    transform: rotate(135deg);
}
.amazing-feathers .overley a{
    color: white;
}
.amazing-feathers .media a{
    font-size: 20px;
    color: #00a99d;
}
.amazing-feathers .row{
    padding: 30px 10% 0px 10%;
}
.media-body{
    padding-top: 10px;
}
.media-body h5{
    font-size: 15px;
    text-transform: uppercase;
}
.media-body p{
    font-size: 13px;
    color: #6a6a6a;
}
.mockup img{
    width: 80%;
}
.a-f-p{
    color: #cfcfcf;
}
.a-f-text h6{
    margin-bottom: 0px;
}
/*----team-member----*/
.team-member .card .pic{
    position: relative;
}
.team-member .pic .over{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #00a99d;
    display: none;
    border-radius: 5px;
}
.team-member .pic img:hover + .over{
    display: block;
}
.pic button{
    padding: 8px 8px;
    background-color: #00a99d;
    color: white;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, 0);
    border: none;
    border-radius: 5px;
    overflow: hidden;
    font-size: 13px;
}
.pic button:hover{
    background-color: #333333;
}
.team-member .row{
    margin: 30px 0px;
}
.card-body{
    padding-top: 40px;
    border-top: none;
    border: 1px solid #e7e7e7;
}
.card-title{
    font-size: 18px;
}
.card-text a{
    color: #8a8a8a;
    display: block;
    font-size: 11px;
    text-decoration: none;
}
.card-text a:hover{
    color: #00a99d;
}
@media screen and (max-width:700px) {
/*-----header section----*/
    .header-text{
        width: 100%;
    }
    header h5{
        font-size: 11px;
    }
    header h1{
        font-weight: 700;
        font-size: 36px;
    }
    header p{
        font-size: 10px;
    }
    .header-text a{
        font-size: 17px;
        border-radius: 50%;
        border: 2px solid #00a99d;
        font-weight: 700;
        padding: 1px 4px;
    }
    /*-----menu-bar----*/
    .menu{
        color: red;
    }
    /*----card---*/
    .pic button{
        top: 95%;
    }
    /*--mockup-*/
    .amazing-feathers .overley{
        top: -13px;  
    }
    .mockup img{
        width: 100%;
    }
}

